@import "bootstrap-sprockets";
@import "bootstrap";

* {
  box-sizing: border-box;
}


.products-section{
	padding:10px;
	border:3px solid grey;
	margin-top:10px;
	margin-bottom:10px;
	height:100%;
	

}

.products-section p{
padding:10px;	
}

.product-image{
	max-width:100%;
	max-height:100%;
}
.btn-login{
	margin-top:10px;
}
.nav{
	
	margin-top:30px;
}
.fa-shopping-cart{
	color:white;
	font-size:20px;
}

.about-link{
	margin-right:15px;
}
